.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}
.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout__title {
    margin-left: auto;
    margin-right: auto;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.checkout__right {
    margin-left: auto;
    margin-right: auto;
}
